#CE_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgb(252, 252, 252);

  #CE_zoom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 220px;
    height: 40px;
    z-index: 4;
    display: flex;
    align-items: center;

    >div {
      flex: 1;
    }
  }

  .CE_click-catch-mask {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  #CE_tools-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row;
    width: fit-content;
    height: 100%;
    padding: 5px;
    margin: 0;
    background-color: #584e53;
    box-sizing: border-box;
    z-index: 2;

    #CE_container-wrapper {
      width: fit-content;
      display: flex;
      flex-flow: column;
      overflow: auto;
      padding-top: 5px;
      padding-left: 5px;
      align-items: center;

      >.CE_freeContainer_wrapper {
        flex-shrink: 0;
        position: static;

        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }

    #CE_tools-container {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-flow: column;
      overflow: auto;

      >* {
        flex-shrink: 0;
        background-color: #363134;
        color: white;
        height: 40px;
        width: 40px;
        margin-top: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #222122;
        }

        &.object::before {
          content: "\e921";
        }
      }
    }
  }

  #CE_canvasContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1;

    >.canvas-container:not(:first-child) {
      margin-left: 30px;
    }

    >.canvas-container {
      margin: 15px;
      box-shadow: 2px 2px 1px 2px rgb(15, 15, 15);

      &.active {
        box-shadow: 2px 2px 1px 2px rgb(37, 10, 110);
      }
    }
  }
}

.CE_icon {
  display: flex;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1em;

  &.backgroundColor {
    box-sizing: border-box;
    padding: 10px;
    background-color: #ccf !important;
  }

  &.strokeColor {
    border: solid 4px #ccf !important;
  }

  &:active {
    outline: none;
    border: none;

    transform: scale(0.85);
  }

  &:focus {
    outline: none;
    border: solid 1px rgba(0, 0, 255, 0.3);
  }

  &.active {
    background-color: rgba(0, 0, 255, 0.3) !important;
  }
}

.CE_btn {
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #68f;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}

.CE_mask {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.CE_highlight {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 4px rgb(218, 218, 142);
    box-sizing: border-box;
  }
}

.rangeSlider-wrapper {
  margin: 20px 20px !important;
  width: auto !important;
}

.CE_dropshadow-tool {
  .CE_dropshadow-controls {
    display: flex;
    margin: 5px;
    flex-flow: column wrap;

    >div {
      display: flex;

      .CE_icon {
        margin: 0 10px 0 15px;
      }

      >input {
        width: 60px;
        height: 30px;
        text-align: center;
      }

      >* {
        flex-shrink: 0;
        box-sizing: border-box;

        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }


  }
}