.CE_freeContainer_wrapper {
  position: absolute;
  min-height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  top: 0;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px #313163;
          box-shadow: 0 0 4px #313163;
  background-color: white;
  z-index: 3;
}

.CE_freeContainer_wrapper * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.CE_freeContainer_wrapper > .CE_controls {
  height: 30px;
  width: 100%;
  background-color: #97f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.CE_freeContainer_wrapper > .CE_controls.grab {
  cursor: grab !important;
  cursor: -webkit-grab !important;
}

.CE_freeContainer_wrapper > .CE_controls.grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important;
}

.CE_freeContainer_wrapper > .CE_controls > .CE_mover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.CE_freeContainer_wrapper > .CE_controls > .CE_mover::before {
  color: white;
  content: attr(data-title);
}

.CE_freeContainer_wrapper > .CE_controls .CE_icon {
  color: white;
}

.CE_freeContainer_wrapper > .CE_controls .CE_icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.CE_freeContainer_wrapper > .CE_body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px 5px 5px;
  min-width: 200px;
  max-width: 400px;
}

.CE_freeContainer_wrapper > .CE_body.CE_col, .CE_freeContainer_wrapper > .CE_body.CE_row {
  padding-top: 5px;
}

.CE_freeContainer_wrapper > .CE_body > .CE_saperator {
  display: block;
  width: calc(100% + 15px);
  height: 30px;
  border-bottom: solid 1px #999;
}

.CE_freeContainer_wrapper > .CE_body > .CE_saperator::before {
  content: attr("data-title");
  font-size: 0.85em;
}

.CE_freeContainer_wrapper > .CE_body > div {
  margin-top: 7.5px;
}

.CE_freeContainer_wrapper > .CE_body > div:not(:last-child) {
  margin-bottom: 7.5px;
}

.CE_freeContainer_wrapper > .CE_body.CE_row, .CE_freeContainer_wrapper > .CE_body.CE_col,
.CE_freeContainer_wrapper > .CE_body > .CE_row,
.CE_freeContainer_wrapper > .CE_body > .CE_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CE_freeContainer_wrapper > .CE_body.CE_row > .CE_tool, .CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool,
.CE_freeContainer_wrapper > .CE_body > .CE_row > .CE_tool,
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.CE_freeContainer_wrapper > .CE_body.CE_row > .CE_tool.active, .CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool.active,
.CE_freeContainer_wrapper > .CE_body > .CE_row > .CE_tool.active,
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool.active {
  background-color: #5374cc;
  border-radius: 2px;
  color: white;
}

.CE_freeContainer_wrapper > .CE_body.CE_row,
.CE_freeContainer_wrapper > .CE_body > .CE_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.CE_freeContainer_wrapper > .CE_body.CE_row > .CE_tool:hover,
.CE_freeContainer_wrapper > .CE_body > .CE_row > .CE_tool:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.CE_freeContainer_wrapper > .CE_body.CE_col,
.CE_freeContainer_wrapper > .CE_body > .CE_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > select,
.CE_freeContainer_wrapper > .CE_body > .CE_col > select {
  height: 40px;
  max-width: 100%;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool,
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool:not(:first-child),
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool:not(:first-child) {
  margin-top: 10px;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool.CE_icon,
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool.CE_icon {
  margin: auto;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool.CE_icon:not(:first-child),
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool.CE_icon:not(:first-child) {
  margin-top: 5px;
}

.CE_freeContainer_wrapper > .CE_body.CE_col > .CE_tool.CE_icon:hover,
.CE_freeContainer_wrapper > .CE_body > .CE_col > .CE_tool.CE_icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.CE_freeContainer_wrapper > .CE_body.CE_col > input,
.CE_freeContainer_wrapper > .CE_body > .CE_col > input {
  height: 30px;
  text-indent: 5px;
  border: solid 1px #999;
  border-radius: 2px;
}

.CE_freeContainer_wrapper > .CE_body .CE_bg-color {
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right bottom, from(#99f), color-stop(#9f9), to(#f99));
  background: linear-gradient(to bottom right, #99f, #9f9, #f99);
}

.CE_freeContainer_wrapper > .CE_body .CE_stroke-color {
  border-radius: 4px;
  border: solid 2px #f97;
}
/*# sourceMappingURL=style.css.map */