.CE_freeContainer_wrapper {
  position: absolute;
  min-height: 40px;
  width: fit-content;
  left: 0;
  top: 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 4px rgb(49, 49, 99);
  background-color: white;

  * {
    user-select: none;
  }

  >.CE_controls {
    height: 30px;
    width: 100%;
    background-color: #97f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;

    &.grab {
      cursor: grab !important;
      cursor: -moz-grab !important;
      cursor: -webkit-grab !important;
    }

    &.grabbing {
      cursor: grabbing !important;
      cursor: -moz-grabbing !important;
      cursor: -webkit-grabbing !important;
    }

    >.CE_mover {
      display: flex;
      align-items: center;
      padding-left: 5px;
      flex: 1;
      height: 100%;

      &::before {
        color: white;
        content: attr(data-title)
      }
    }

    .CE_icon {
      color: white;

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.2)
      }
    }
  }

  >.CE_body {
    width: fit-content;
    min-height: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
    min-width: 200px;
    max-width: 400px;

    &.CE_col,
    &.CE_row {
      padding-top: 5px;
    }

    >.CE_saperator {
      display: block;
      width: calc(100% + 15px);
      height: 30px;
      border-bottom: solid 1px #999;

      &::before {
        content: attr('data-title');
        font-size: 0.85em;
      }
    }

    >div {
      margin-top: 7.5px;
    }

    >div:not(:last-child) {
      margin-bottom: 7.5px;
    }

    &.CE_row,
    &.CE_col,
    >.CE_row,
    >.CE_col {
      display: flex;

      >.CE_tool {
        flex-shrink: 0;

        &.active {
          background-color: rgb(83, 116, 204);
          border-radius: 2px;
          color: white;
        }
      }
    }

    &.CE_row,
    >.CE_row {
      flex-flow: row wrap;
      justify-content: space-evenly;

      >.CE_tool {
        &:hover {
          background-color: rgba($color: #000, $alpha: 0.2)
        }
      }
    }

    &.CE_col,
    >.CE_col {
      flex-direction: column;

      >select {
        height: 40px;
        max-width: 100%;
      }

      >.CE_tool {
        flex: 1;
        align-items: center;

        &:not(:first-child) {
          margin-top: 10px;
        }

        &.CE_icon {
          &:not(:first-child) {
            margin-top: 5px;
          }

          margin: auto;

          &:hover {
            background-color: rgba($color: #000, $alpha: 0.2)
          }
        }
      }

      >input {
        height: 30px;
        text-indent: 5px;
        border: solid 1px #999;
        border-radius: 2px;
      }
    }

    .CE_bg-color {
      border-radius: 4px;
      background: linear-gradient(to bottom right, #99f, #9f9, #f99);
    }

    .CE_stroke-color {
      border-radius: 4px;
      border: solid 2px #f97;
    }
  }

  .CE_inline_input {
    display: flex;
    align-items: center;
    height: 30px;

    * {
      width: fit-content;
      text-align: center;
    }

    input {
      flex: 1;
      width: 40px;
      height: 100%;
    }
  }
}